.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    font-size: 15px;
    height: 100px; /* Increased height for better visibility */
}

.top-bar-item {
    flex: 1;
    text-align: center;
}

.top-bar a,
.top-bar i {
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

.submit-design-btn {
    padding: 10px 20px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-design-btn:hover {
    background-color: #dc1b5d;
}
