body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #feeef2;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.navbar-logo img {
    height: 35px;
}

.navbar-links {
    font-size: 12px;
}

.navbar-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navbar-links a:hover {
    color: #ff4081;
}

.new-label {
    color: #ff4081;
    font-size: 12px;
    font-weight: bold;
}

.navbar-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.navbar-search input {
    padding: 5px 10px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 376px;
    height: 37px;
}

.navbar-search button {
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    width: 37px;
    height: 49px;
}

.navbar-icons {
    display: flex;
    font-size: 12px;
}

.navbar-icons a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-icons a i {
    margin-bottom: 5px;
}

.navbar-icons a:hover {
    color: #ff4081;
}

/* 
.mobile-screen {
    background-color: #fafafa;
    border-radius: 10px;
    margin: 20px;
    margin-top: 30px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 602px;
    overflow: hidden;
} */

.theme-box {
    background-color: #fff;
    overflow: hidden;
    margin-top: 12px;
    padding-bottom: 0px;
    position: relative;
}

.scrolling-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.screen-content {
    margin: 0;
    overflow-y: auto;
    max-height: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.screen-content::-webkit-scrollbar {
    display: none;
}

.gallery-item {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
}

.gallery-item img {
    width: 100%;
    /* height: auto; */
    /* Maintain aspect ratio */
    border-radius: 8px;
    max-height: 100%;
    /* Prevents images from exceeding their container’s height */
    object-fit: cover;
    /* Ensures images are covered within their container */
    border-radius: 8px;
}

.tabs {
    display: flex;
    margin-top: 0px;
    margin-left: -22px;
    gap: 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    height: 41px;
    width: 402px;
}

.tabs button {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid transparent;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 14px;
}


.tabs button.active {
    border-bottom: 2px solid red;
    color: rgb(255, 63, 108);
}

.head-space {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -20px;
    margin-top: -19px;
    height: 35px;
    width: 379px;
}

.head-space h2 {
    margin: 0;
    font-size: 18px;
    margin-left: 10px;
    color: #424553;
}

.head-space i {
    margin-right: 10px;
}

.screen-content {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.theme-box {
    overflow: hidden;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: -22px;
    width: 402px;
    height: 416px;
    border: none;
}

.theme-box img {
    width: 100%;
    border: none;
    height: 416px;
    display: block;
}

.image-container {
    position: relative;
}

.button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

.participate-btn {
    background-color: #ff3e6c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    top: 371px;
    right: 130px;
    z-index: 1;
}


.participate-btn:hover {
    background-color: #dc1b5d;
}

.see-designs-btn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#added-to-closet {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 400px;
    /* border-radius: 10px; */
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0;
    height: auto;
    max-height: 80vh;
    overflow: hidden;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

p {
    font-size: 12px;
    margin-top: 10px;
}

.continue-btn {
    background-color: #ff3e6c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

.continue-btn:hover {
    background-color: #dc1b5d;
}

p a {
    color: #ff3e6c;
    text-decoration: none;
}

.post {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.post img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-details h3 {
    margin: 0;
}

.post-details p {
    margin: 5px 0;
}

.post-details button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
}

.scrolling-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: -19px;
    /* Spacing between images */
    padding: 10px;
    /* Remove specific height; let it be determined by content */
}

.gallery-item {
    flex: 0 0 auto;
    /* Prevents items from shrinking or growing */
}

.gallery-item img {
    width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 8px;
}


.buy-now-btn {
    display: block;
    background-color: #ff3e6c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    /* Make button full width */
}

.buy-now-btn:hover {
    background-color: #dc1b5d;
}

.navbar-icons .dropdown {
    position: relative;
    display: inline-block;
}

.navbar-icons .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #ddd;
}

/* .navbar-icons .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} */

.navbar-icons .dropdown .dropdown-content a {
    color: #282c3f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* margin-left: 3px; */
    margin: 0;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-icons .dropdown .dropdown-content a:hover {
    /* background-color: #f1f1f1; */
    /* color: #404458; */
    font-weight: bolder;
}

.navbar-icons .dropdown:hover .dropdown-content {
    display: block;
}

.navbar-icons .dropdown:hover .icon-item {
    background-color: #ddd;
}

.best-match-container {
    display: flex;
    overflow-x: scroll;
    /* Enable horizontal scrolling */
    gap: 20px;
    padding: 10px 0;
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on iOS */
}

/* Hide scrollbar for Webkit browsers */
.best-match-container::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Webkit browsers */
}

/* Hide scrollbar for Firefox */
.best-match-container {
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Edge and IE */
.best-match-container {
    -ms-overflow-style: none;
    /* Hide scrollbar for Edge and IE */
}

.recommended-text {
    font-size: 14px;
    color: #282c3f;
    margin-top: -4px;
    margin-left: -154px;
    margin-bottom: 5px;
    text-decoration: underline;
}

.images-column,
.text-column {
    flex: 0 0 auto;
    /* Prevent items from shrinking or growing */
}

.images-column {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* Spacing between images */
}

.text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 133px;
    text-align: left;
    margin-left: 26px;
}

.result-image-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.result-image-container h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.result-image {
    max-width: 135px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.buy-now-btn {
    display: block;
    background-color: #ff3e6c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    /* Make button full width */
}

.buy-now-btn:hover {
    background-color: #dc1b5d;
}