body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 226, 231);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.navbar-logo img {
    height: 35px;
}

.navbar-links {
    font-size: 12px;
}

.navbar-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navbar-links a:hover {
    color: #ff4081;
}

.new-label {
    color: #ff4081;
    font-size: 12px;
    font-weight: bold;
}

.navbar-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.navbar-search input {
    padding: 5px 10px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 376px;
    height: 37px;
}

.navbar-search button {
    border-width: 1px 0 1px 1px;
    /* top, right, bottom, left */
    border-style: solid;
    border-color: #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    width: 37px;
    height: 49px;
}

.navbar-icons {
    display: flex;
    font-size: 12px;
}

.navbar-icons a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-icons a i {
    margin-bottom: 5px;
}

.navbar-icons a:hover {
    color: #ff4081;
    /* Change this color to match your brand's color */
}


.mobile-screen {
    background-color: #fafafa;
    /* padding: 20px; */
    border-radius: 10px;
    margin: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 45px;
    height: 602px;
}

.head-space {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-space h2 {
    margin: 0;
    font-size: 18px;
    margin-left: 10px;
    color: #746a6a;
}

.head-space i {
    margin-right: 10px;
}

.screen-content {
    padding: 20px;
}

.theme-box {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 12px;
}

.theme-overlay {
    position: absolute;
    top: 42px;
    padding: 10px;
    z-index: 2;
    /* Ensure it's above the image */
    font-size: 24px;
    font-style: italic;
    color: #fff;
}

.theme-text {
    margin: 0;
    font-weight: bold;
    line-height: 1px;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
}

.theme-text #text1 {
    color: #ebebeb;
    font-size: 31px;
    text-shadow: 2px 6px 2px rgb(97 82 82);
}

.theme-text #theme {
    font-size: 55px;
    font-weight: bolder;
    color: #ffffff;
    text-shadow: 2px 6px 2px rgb(0 0 0);
}

.theme-box img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.leaderboard {
    margin-top: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
    max-height: 129px; /* Adjust max height as needed */
    overflow-y: auto; /* Add vertical scrollbar if content exceeds max height */
}

.leaderboard h3 {
    font-size: 14px;
    color: #555;
    margin-top: -7px;
    text-transform: uppercase;
    text-align: center;
}

.leaderboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.leaderboard ul li {
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 10px 18px;
    background-color: #6e7c7e;
    border: 2px solid #d5d1e9;
    color: #ffffff !important; /* Force white text */
}

.leaderboard ul li:last-child {
    border-bottom: none;
}

.leaderboard ul li span {
    font-size: 14px;
}

.leaderboard ul li strong {
    font-weight: bold;
    color: #ffbee9;
    font-size: 16px;
}

.image-container {
    position: relative;
}

.button-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}





.participate-btn, .see-designs-btn, .vote-btn {
    background-color: #ff3e6c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%; /* Make buttons occupy full width of container */
    max-width: 200px; /* Limit maximum width if needed */
    text-align: center; /* Center text horizontally */
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.participate-btn:hover, .see-designs-btn:hover, .vote-btn:hover {
    background-color: #dc1b5d; /* Darker shade of the primary color on hover */
}

.theme-box img {
    width: 114%;
    height: 356px;
    display: block;
    border-radius: 10px;
    transform: scaleX(-1) translateX(3px);
}
