body {
    font-family: Arial, sans-serif;
    background-color: #ffe2e7;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.navbar-logo img {
    height: 35px;
}

.navbar-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navbar-links a:hover {
    color: #ff4081;
}

.navbar-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.navbar-search input {
    padding: 5px 10px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 376px;
    height: 37px;
}

.navbar-search button {
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    width: 37px;
    height: 49px;
}

.navbar-icons a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-icons a i {
    margin-bottom: 5px;
}

.navbar-icons a:hover {
    color: #ff4081; 
}

.mobile-screen {
    background-color: #fafafa;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    height: 602px;
    overflow-y: auto; 
}

.head-space {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-space h2 {
    margin: 0;
    font-size: 18px;
    margin-left: 10px;
    color: #746a6a;
}

.screen-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.closet-leaderboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.design-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    margin: 0 15px 20px 15px;
}

.design-box:hover {
    transform: translateY(-5px);
}

.design-box model-viewer {
    width: 100%;
    height: 400px; 
    border-radius: 10px;
}

.design-text {
    font-size: 14px;
    color: #746a6a;
    margin: 10px 0;
}

.design-actions {
    margin-top: 10px;
}

.remove-btn {
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.remove-btn i {
    margin-right: 5px;
}
