.mobile-screen {
    padding: 20px;
    max-height: calc(100vh - 60px); /* Adjust according to the navbar height */
    overflow-y: auto;
}

.head-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-space h2 {
    flex: 1;
    text-align: center;
}

.filter-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.filter-section select {
    padding: 8px;
    font-size: 14px;
    border-radius: 15px;
    width: 111px;
    cursor: pointer;
}

.filter-section #current-theme {
    font-size: 14px;
    color: #333;
    margin-right: 19px;
}

.closet-leaderboard {
    display: flex;
    flex-direction: column;
}

.closet-leaderboard .design-box {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.design-item {
    display: flex;
    align-items: center;
    flex: 1;
}

.design-image {
    flex: 0 0 100px;
    margin-right: 20px;
}

.design-image img {
    height: 60px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.design-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    margin-left: -38px;
}

.design-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: calc(100% - 20px);
    margin: 0;
    font-size: 13px;
    color: #5a5252;
    height: 2.4em; /* Adjust to fit the exact height of 2 lines */
}

.remove-btn {
    background-color: #ff4081;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    align-self: flex-start;
}

.remove-btn:hover {
    background-color: #dc1b5d;
}
