.mobile-screen {
    background-color: #fafafa;
    border-radius: 10px;
    margin: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    height: 602px;
    overflow-y: auto;
}

.head-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-space h2 {
    flex: 1;
    text-align: center;
}

.closet-leaderboard {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.closet-leaderboard .design-box {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.design-item {
    display: flex;
    align-items: center;
    flex: 1;
}

.design-image {
    flex: 0 0 200px;
    margin-right: 20px;
}

.design-image img {
    height: auto; 
    max-height: 600px; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; 
}


.design-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-left: -20px;
}

.design-text {
    overflow: visible;
    text-overflow: clip;
    display: inline-block;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: calc(100% - 20px);
    margin: 0;
    margin-left: 15px;
    font-size: 14px; 
    color: #5a5252;
    height: auto; 
}

.remove-btn {
    background-color: #ff4081;
    color: #fff;
    padding: 10px 20px; 
    border-radius: 4px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    align-self: flex-start;
}

.remove-btn:hover {
    background-color: #dc1b5d;
}
