body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.navbar-logo img {
    height: 35px;
}

.navbar-links {
    font-size: 13px;
}

.navbar-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #282c3f;
    font-weight: bold;
    position: relative;
    padding-bottom: 33px;
}

.navbar-links a:hover {
    color: #ff4081;
}


.navbar-links a#lab::after {
    content: '';
    position: absolute;
    width: 267%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0px;
    left: -19px;
    background-color: #ff4081;
    transform-origin: bottom right;
    transition: transform 0.1s ease-out;
}

.navbar-links a#lab:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* 
.new-label {
    color: #ff4081;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: -27px;
<<<<<<< HEAD
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(to right, #ff4081, #ff4081 50%, transparent 50%, transparent);
    background-size: 200% 100%;
    animation: slideIn 2s forwards;
} */


/* Apply the animation to .new-label */
.new-label {
    color: #ff4081;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -7px;
    right: -23px;
    animation: slideIn 2s infinite; /* Adjust duration as needed */
}

/* Define the keyframes for the slide animation */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/*
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
} */

=======
}

>>>>>>> b0780303ee3c05d3db8e638c3f90818f5844de62
.navbar-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.navbar-search input {
    padding: 5px 10px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 376px;
    height: 37px;
}

.navbar-search button {
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    width: 37px;
    height: 49px;
}

.navbar-icons {
    display: flex;
    font-size: 12px;
}

.navbar-icons a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-icons a i {
    margin-bottom: 5px;
}

.navbar-icons a:hover {
    color: #ff4081;
}

.promo-header {
    background: linear-gradient(to bottom, #ff9a9e, #fad0c4);
    text-align: center;
    padding: 19px 0;
    color: #fff;
    margin-top: 13px;
}

.promo-content {
    display: inline-block;
    padding: 0;
}

.promo-header p {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
}

.countdown {
    font-size: 1em;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.itemImg {
    max-width: 278px;
    margin-bottom: 10px;
}

.section1 {
    overflow-x: auto;
    white-space: nowrap;
}

.homeImg {
    margin-top: 5px;
    max-width: 100%;
    height: auto;
}

/* Dropdown menu container */
.dropdown-menu {
    /* display: none; */
    position: absolute;
    top: 48px;
    left: -99px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    width: 300px;
}

/* Dropdown menu container */
.dropdown-menu {
    position: absolute;
    top: 48px;
    left: -288px;
    background-color: white;
    padding: 10px;
    z-index: 1000;
    width: 609px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar-links a#lab:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding-bottom: 40px;
}

.dropdown-content img {
    width: 615px;
    height: auto;
    margin-right: 10px;
}

.dropdown-content button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    align-self: center;

    position: absolute;
    bottom: 0px;
    left: 30%;
    transform: translateX(50%);
}

.navbar-links a#lab:hover .dropdown-menu {
    display: block;
}

.dropdown-content .text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 17px;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
<<<<<<< HEAD
=======

.dropdown-content .textintext {
    color: grey;
    font-size: 14px;
    font-weight: 100;
    margin-top: -15px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
<<<<<<< HEAD
=======


/* .dropdown-header {
    text-align: center;
    margin-bottom: 20px;
}

.dropdown-header h2 {
    margin: 0;
    font-size: 18px; 
    font-weight: bold;
    color: #282c3f; 
}

.dropdown-header p {
    margin: 5px 0;
    font-size: 14px; 
    color: #555; 
} */
>>>>>>> b2bcfa4d170a8d7ca654703710f6a8f3ed3df3aa
>>>>>>> b0780303ee3c05d3db8e638c3f90818f5844de62
