
.navbar-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.navbar-search input {
    padding: 5px 10px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 376px;
    height: 37px;
}

.navbar-search button {
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    width: 49px;
    height: 57px;
}

.screen-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.head-space {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.head-space h2 {
    margin: 0 10px;
}

.submit-form {
    max-width: 600px;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"] {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    outline: none;
}

.submit-btn {
    background-color: #ff3e6c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #ff4081;
}