.head-space h2 {
    margin: 0;
    font-size: 18px;
    color: #746a6a;
    margin-right: 128px;
}

.success-message {
    padding: 20px;
    background-color: #fff2f2;
    border-radius: 8px;
    margin-bottom: 20px;
}

.success-message p {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc1b5d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff4081;
}


.navbar-icons .dropdown {
    position: relative;
    display: inline-block;
}

.navbar-icons .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar-icons .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar-icons .dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.navbar-icons .dropdown:hover .dropdown-content {
    display: block;
}

.navbar-icons .dropdown:hover .icon-item {
    background-color: #ddd;
}