.head-space h2 {
    margin: 0;
    font-size: 18px;
    color: #746a6a;
    margin-right: 128px;
}

.success-message {
    padding: 20px;
    background-color: #fff2f2;
    border-radius: 8px;
    margin-bottom: 20px;
}

.success-message p {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc1b5d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff4081;
}