/* Styles for Hall of Fame: Previous Winners section */

.head-space a {
    text-decoration: none;
    color: inherit;
}

.design-box {
    margin-bottom: 20px;
    overflow: hidden; /* Hide overflow to control scroll */
    height: 230px; /* Set a fixed height for each design box */
    border-radius: 8px; /* Add border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.design-item {
    display: flex;
    align-items: center;
    height: 100%; /* Ensure items fill the height */
}

.design-image {
    flex: 0 0 150px; /* Keep width of image container */
    margin-right: 20px;
    height: auto; /* Allow image height to adjust */
}

.design-image img {
    width: 100%; /* Adjust to fill the container width */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.design-content {
    flex: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Add padding inside the content */
}

.design-content h3 {
    margin-top: 0;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
}

.design-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.details-link {
    display: inline-block;
    background-color: #ff4081;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.details-link:hover {
    background-color: #dc1b5d;
}

.win-leaderboard {
    margin-top: 20px; /* Increase margin for spacing */
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
    height: 260px; /* Adjust height to accommodate scrollbar */
    overflow: hidden; /* Hide overflow for the main container */
}

.screen-content {
    overflow-y: auto; /* Enable scrolling for the content area */
    max-height: 600px;
}

.mobile-screen {
    overflow-y: auto; /* Enable scrolling for mobile screens */
    max-height: 600px;
}

