{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Other meta tags and stylesheets -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/lab.css' %}">
    <title>LAB</title>
</head>


<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="{% static 'Images/New-Myntra-Logo.png' %}" alt="Logo">
        </div>
        <div class="navbar-links">
            <a href="#">MEN</a>
            <a href="#">WOMEN</a>
            <a href="#">KIDS</a>
            <a href="#">HOME & LIVING</a>
            <a href="#">BEAUTY</a>
            <a href="#">STUDIO</a>
            <a href="#">LAB <span class="new-label">NEW</span></a>
        </div>
        <div class="navbar-search">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" placeholder="Search for products, brands and more">
        </div>
        <div class="navbar-icons">
            <a href="#" class="icon-item">
                <i class="fa-regular fa-user"></i>
                <span>Profile</span>
            </a>
            <a href="#" class="icon-item">
                <i class="fa-regular fa-heart"></i>
                <span>Wishlist</span>
            </a>
            <a href="#" class="icon-item">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Bag</span>
            </a>
        </div>
    </nav>

    <div class="mobile-screen">
        <div class="screen-content">
            <div class="head-space">
                <a href="{% url 'index' %}"><i class="fas fa-chevron-left"></i></a>
                <h2>GENZ FASHION LAB</h2>
                <a href="{% url 'my_closet' %}"><i class="fa-solid fa-bag-shopping"></i></a>
            </div>
            <div class="theme-box">
                <div class="image-container">
                    <img src="{% static 'Images/fashion_theme.png' %}" alt="Theme Image">
                </div>
                <div class="button-container">
                    <a href="{% url 'create' %}" class="participate-btn">Participate</a>
                    <a href="{% url 'win' %}" class="see-designs-btn">Previous Winners</a>
                    <a href="{% url 'vote_view' %}" class="vote-btn">Vote</a>
                </div>
            </div>                  
            <div class="leaderboard">
                <h3>leaderboard</h3>
                <ul>
                    <li><span class="name">1. Ryan</span> <span class="points">1000 points</span></li>
                    <li><span class="name">2. Sheren</span> <span class="points">800 points</span></li>
                    <li><span class="name">3. Alice</span> <span class="points">600 points</span></li>
                </ul>
            </div>            
        </div>
    </div>
</body>
</html>

