{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/lab.css' %}">
    <link rel="stylesheet" href="{% static 'css/win.css' %}">
    <title>Winning Designs</title>
</head>

<body>
    <!-- <nav class="navbar">
        <div class="navbar-logo">
            <img src="{% static 'Images/New-Myntra-Logo.png' %}" alt="Logo">
        </div>
        <div class="navbar-links">
            <a href="#">MEN</a>
            <a href="#">WOMEN</a>
            <a href="#">KIDS</a>
            <a href="#">HOME & LIVING</a>
            <a href="#">BEAUTY</a>
            <a href="#">STUDIO</a>
            <a href="{% url 'lab' %}">LAB <span class="new-label">NEW</span></a>
        </div>
        <div class="navbar-search">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" placeholder="Search for products, brands and more">
        </div>
        <div class="navbar-icons">
            {% if user.is_authenticated %}
            <div class="dropdown">
                <a href="#" class="icon-item">
                    <i class="fa-regular fa-user"></i>
                    <span>Profile</span>
                </a>
                <div class="dropdown-content">
                    <a href="{% url 'my_closet' %}">My Closet</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            {% else %}
            <a href="{% url 'signup' %}" class="icon-item">Sign Up</a>
            {% endif %}
            <a href="#" class="icon-item">
                <i class="fa-regular fa-heart"></i>
                <span>Wishlist</span>
            </a>
            <a href="#" class="icon-item">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Bag</span>
            </a>
        </div>
    </nav> -->

    <div class="mobile-screen">
        <div class="screen-content">
            <!-- <div class="head-space">
                <a href="{% url 'lab' %}">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <h2>PREVIOUS TRENDSETTERS!</h2>
                <a href="{% url 'my_closet' %}"><i class="fa-solid fa-bag-shopping"></i></a>
            </div> -->

            <div class="win-leaderboard-container">
                <div class="design-box">
                    <div class="design-item">
                        <div class="design-image">
                            <img src="{% static 'Images/fashion1.png' %}" alt="Design Image">
                        </div>
                        <div class="design-content">
                            <h3>Modern Streetwear</h3>
                            <p>Designed by Sia<p>
                            <p>Combination of the light blue hoodie with floral and skull graphics, and black baggy pants - a youthful, casual, and slightly edgy style.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="design-box">
                    <div class="design-item">
                        <div class="design-image">
                            <img src="{% static 'Images/fashion2.png' %}" alt="Design Image">
                        </div>
                        <div class="design-content">
                            <h3>Digital Fashion</h3>
                            <p>Designed by Reena<p>
                            <p>Combination of a blue denim jacket, black pleated skirt, and black combat boots gives off a punk-inspired vibe with a contemporary twist.</p>
                        </div>
                    </div>
                </div>
                <div class="design-box">
                    <div class="design-item">
                        <div class="design-image">
                            <img src="{% static 'Images/fashion3.png' %}" alt="Design Image">
                        </div>
                        <div class="design-content">
                            <h3>Y2K Revival</h3>
                            <p>Designed by Sheena<p>
                            <p>The colorful jacket with blue, yellow, and red panels, paired with brown cargo pants and white sneakers, suggests a modern, casual style.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
